body {
  background-color: #696969;
}
.container {
  background-color: #FFF5EE;
  max-width: 900px;
  margin: auto;
}
.left-column p {
  margin: 0;
}
.left-column p:nth-child(1){
  font-weight: bold;
  font-size: 17px;
}
.left-column p:nth-child(2){
  font-style: italic;
}
body {
  font-size: 15px;
}
.caption {
  font-size: 10px;
  color: gray;
}
.img {
  margin-bottom:10px;
}
h1 {
  font-size: 35px;
}
